[2015-03-13 10:53] r-cohen opened #1 "works great but slow"
got it working fine on ubuntu 14 with a motox (2nd gen), but it's really slow. maybe put option to change the frame rate?

[2015-03-23 08:28] xSAVIKx commented on #1
It's quite hard to improve FPS, cause of the method, which is used to obtain phone screen images.
When I'll have enough time - I'll try to provide more effective solution.

[2015-03-24 00:39] liuwenchao opened #2 "Mouse clicks were sent but no effect"
Hi @xSAVIKx ,

I'm trying to control an andriod pad with half screen broken in mac:
1. it should be rooted, I have a managing app to grant root access, not sure if this is the issue.
2. I built the dist file with: ant dist, and run: java -jar androidscreencast.jar
3. I can see the screen, can use 'explorer' and 'open url', but no mouse or other keys (home, back, etc.)
4. the logs are all info and

[2015-03-24 07:28] xSAVIKx commented on #2
Hello, @liuwenchao ,thanks for interest.
Unfortunately, I've got no changes to try it working on Mac and as for now I've got really no time to investigate any issues :-(
But, you can try to solve it yourself.
For your request about code, that pass mouse clicks: in Injector.java lines from 294 to 394 are about injecting events: [PC inject part](https://github.com/xSAVIKx/AndroidScreencast/blob/mast

[2015-03-24 15:30] liuwenchao commented on #2
Got this error in LogCat:

[code]

Do you know how to check if the CLASSPATH is set correctly?
I verified the client jar is there with adb:

[code]

[2015-03-24 16:00] liuwenchao commented on #2
Nevermind, I figured the MyInjectEventApp.jar I built has some issues, it works when I use https://github.com/xSAVIKx/AndroidScreencastClient/releases/download/0.0.1/MyInjectEventApp.jar

Thanks for your time!

[2015-03-24 16:00] #2 closed, assigned to nobody

[2015-04-23 18:08] tristan-k opened #4 "how to get mouse/keyboard suppport"
Can you give some more instructions on how to use the jar. I started it with

[code]

and followed this advise

[code]

but I'm still unable to control the phone with my mouse and keyboard. I do get a slow picture.

Her

Any suggestions? Thanks!

[2015-04-24 10:26] xSAVIKx commented on #4
Hello @tristan-k .
Thanks for your interest to my fork.

Try to send tap, keydown or swipe commands using ADB shell, it should be something like this:

[code]

for example, you can try to send tap like this:

[code]

If this will work - that something is wrong with code, if not - maybe your Android version is top low (or too high, because I haven't tested in on version higher than 4.1.2)

[2015-04-24 11:25] tristan-k commented on #4
I can confirm that using

[code]

works. I guess it will have something to do with my Android Version. I'm running 4.4.4 OmniRom on a i9300. Any way I remote control can be achived?

[2015-04-25 13:54] xSAVIKx commented on #4
What Android VM do you have ? Dalvik or ART?

As my phone received update to Android 5.\* Lollipop - I can confirm, that androidscreencast won't work on ART (as for now).
Unfortunately I don't really have enough time now to provide new version for ART vm.

[2015-04-26 14:53] tristan-k commented on #4
It runs with Dalvik.

[2015-04-27 05:16] xSAVIKx commented on #4
OK.
So, I'll try to work with emulator of your version, but, as I already said, I don't know when I could allocate any time.

If you want to investigate it yourself - I can send you some instructions what to do.

[2015-04-27 08:56] tristan-k commented on #4
Okay, please send me some instructions. I appreciate your efforts.

[2015-04-27 19:13] xSAVIKx commented on #4
OK,
you have to run Injector application by yourself.

Verify, that you have MyInjectEventApp.jar in /data/local/tmp folder.
If so:
run "adb shell logcat" in one terminal
and

[code]

If everything is OK, you'll see logger output and you will be able to send commands from your PC to 127.0.0.1:8776

If not - you will be able to see error message in second terminal with logcat.

Than you may send co

[2015-05-22 10:03] #4 closed, assigned to nobody

[2015-06-09 02:55] upwell opened #5 "mouse and keyboard not work on Mi3 (4.4.4)"
I used the Pre-release v.0.0.2 on my Fedora 22, the screencast worked great. But the mouse and keyboard control didn't work. I had followed the instructions to change the permission of `/data/dalvik-cache`. Any idea how to debug?

[2015-06-09 08:02] xSAVIKx commented on #5
Hello, thanks for your interest.
Check Issue #4
there are some notes at the bottom how to run and test InjectApp.
You also can try to debug InjectApp via your IDE (like eclipse or IDEA) using remote debug.

[2015-06-10 02:43] upwell commented on #5
@xSAVIKx thanks for your response.  I followed the guide.  And execute the following commands:

[code]

Then I got an error message in logcat, I did have MyInjectEventApp.jar under /data/local/tmp.

[code]

I'm not familiar with android shell. Do you have any quick clue about this error?

[2015-06-10 07:14] xSAVIKx commented on #5
@upwell
jar file wasn't added to classpath.
It's weird.
execute the following commands and send me output:

[code]

Unfortunately I don't have my laptop with me now and my MI2 is already updated to 5.1 with ART, so I cannot debug and develop this app without some real device :-(
And there is one more question: do you run your MI3 with ART or DALVIK ?

[2015-06-10 07:44] upwell commented on #5
@xSAVIKx
Thanks for your kind response.
Here is the output, and it should be correct:

[code]

My MI3 is using 4.4.4 with DALVIK.  The message below is the detail logcat output when the error message comes.

[code]

[2015-06-10 08:15] xSAVIKx commented on #5
@upwell
I'll try to look at this issue, but I need to flush old MIUI with android 4.\* to my Mi2s, so it'll take a while.
Seems, that something is wrong with boot classpath.

[2015-06-10 09:48] upwell commented on #5
@xSAVIKx
Thanks for your effort. I googled around to find the possible solution.
It seems `/system/bin/am` script is using the same way, and it works fine. Is it possible that `MyInjectEventApp.jar` is not compatible with MI3?
One clue is that `/system/framework/am.jar` is compiled with java 1.6, while `MyInjectEventApp.jar` is compiled with java 1.7. Not sure, just a guess.
I'm now working on com

[2015-06-10 09:59] xSAVIKx commented on #5
@upwell
It maybe problem, but as far as I remember I don't use any features of java 1.7, so it should be easy to compile client using jdk 1.6.
Be aware that you'll need dx and aapt in your PATH.

[2015-06-11 03:51] upwell commented on #5
@xSAVIKx
I compiled client using jdk 1.6, still no help.
As I googled around,  I found another command which can execute the jar file successfully on android shell:

[code]

Have no idea why `app_process` is not working.

[2015-06-11 19:13] xSAVIKx commented on #5
@upwell
It's great that you've found another solution.
Did you change sources and recompile InjectApp ?
If so - you can do pull request or I will do it later by myself as a quick fix. I think I'll provide both methods, so if one doesn't work, another will be tried.

[2015-06-12 03:24] upwell commented on #5
@xSAVIKx
I submitted a pull request to include this quick fix. Please help review.:)

[2015-06-15 20:51] xSAVIKx commented on #5
@upwell
Hi. I've merged your pull request, but after that I've deleted your receiver due to update in ddmlib - there are new exceptions, so I can handle situation when command don't run successfully.
I also created new pre-release, so you can try to use it now.
Thanks for your assistance.

[2015-06-15 20:51] #5 closed, assigned to nobody

[2015-06-15 20:54] xSAVIKx commented on #4
@tristan-k
Hello, I've updated AndroidScreencast to pre-release 0.0.3, if you still need it's functionality - you can try it now.

[2015-06-18 10:03] tristan-k commented on #4
Thanks! I'll try it.

[2015-06-18 10:14] tristan-k commented on #4
Still no mouse or keyboard control. I followed your instructions. And adb pushed MyInjectEventApp.jar to /data/local/tmp/.

I'm also unable to record:

[code]

[2015-06-18 16:43] xSAVIKx commented on #4
There's one hack, that you can try:
Run androidscreencast.jar:
    java -jar androidscreencast.jar port 8776
, after that go to adb shell and execute:
adb shell
su
export CLASSPATH=/data/local/tmp/MyInjectEventApp.jar
exec app_process /system/bin
com.github.xsavikx.android.screencast.client.Main 8776

You should see in adb shell logs from inject app, if so - everything should
work in GUI

On Thu,

[2015-08-12 00:41] wzhy90 opened #7 "Cannot focuse other windows"
[code]

When focuse on other window, the app will send an error number to the client then the client crash!

[2015-08-12 00:50] wzhy90 commented on #7
and this

[code]

[2015-08-12 01:09] wzhy90 commented on #7
Phone is Sony Z2 on stock 4.4.4

[2015-08-12 14:43] xSAVIKx commented on #7
@wzhy90 Hello.
I'll try to look at this issue on weekend.
Brief googling says that I need to extend maximum timeout for ddblib. So, I'll try to do it, but I don't have enough devices to test it everywhere, so I'll be pleased, if you can test it again, after I'll provide fix.

[2015-08-12 15:47] wzhy90 commented on #7
OK, I can. I add line to the client like this

[code]

Then I touch the blank place the client don't crash.

[2015-08-12 16:03] wzhy90 commented on #7
the client seems crash very easily

[code]

[2015-08-12 19:21] xSAVIKx commented on #7
ok, I understand the real source of problem now :-)
there should be checks on PC app and client also.
Thanks for your help. I'll fix it in both places.

[2015-08-13 00:16] wzhy90 commented on #7
BTW, How to get the client's .classpath file? Using ant dist will not generate this file.
Using openjdk 7u79 and android build tool 22.0.1.
The ddmlib has upgraded to 24.3.0 too

[2015-08-13 07:52] xSAVIKx commented on #7
check client repository(https://github.com/xSAVIKx/AndroidScreencastClient). you do need to use JDK 1.6 to compile android 4.*-compatible source, cause java7 bytecode is different from java6 and you won't be able to generate dexed classes using DX tool.
And for .classpath - I'm using eclipse IDE, so it does everything about classpath for me. I haven't tried to generate it manually, but you can loo

[2015-08-13 08:27] wzhy90 commented on #7
I using openjdk 1.7 and dx tool 19 or 22 compile the dex file sucess. and I just copy your released package's .classpath. Is the .classpath genericd?

[2015-08-13 08:43] xSAVIKx commented on #7
hm. It's quite strange for me.
Yes, if you don't add any new packages, it should be generic.

[2015-08-13 12:42] wzhy90 commented on #7
OK, and can it run with Oracle JRE 8 in windows? I found in Windows it was more unstable

[2015-08-13 12:54] xSAVIKx commented on #7
It should run with JRE7+, cause I've rewritten desktop app using java7 features.
But I haven't tested it in Windows.

[2015-08-13 16:58] wzhy90 commented on #7
You can also look at this source code: http://marian.schedenig.name/wp-content/uploads/adbcontrol.zip
It has no mobile client.

[2015-08-14 12:59] xSAVIKx commented on #7
Thanks for link, I've looked through the source, but I think that AndroidScreencast has some more functionality planned in it.
I have ambitions to rewrite it totally, but have not enough time for that :-(
And, if you've provided patch - you're welcome to fork repo and request pull.
The best idea of this adbcontrol - introducing properties to configure ADB path :-)

[2015-08-14 21:12] xSAVIKx commented on #7
Hi again.
I've tried to create client-free version of app.
You can find it here (https://github.com/xSAVIKx/AndroidScreencast/releases/tag/0.0.3S), if you're interesting in it.
I don't cover previous errors, cause I want to test possible speed of 2 versions now and decide what to develop.

[2015-08-15 01:03] wzhy90 commented on #7
I would like the 0.0.3S version.
And the maven plugins has upgraded ! !

[2015-08-15 01:14] wzhy90 commented on #7
Which version of maven do you use? I use apt-get to install maven2 and when I first time build this project, the mvn download all dependence from the site which define below the pom.xml. It try to download from that site but faild then it will try to download them from official web site. Is this ordinary?

[code]

[2015-08-15 01:56] wzhy90 opened #8 "JWindow cannot hidden"
Use Linux Mint 17 and openjdk 1.7.0_79.
The Splash screen using JWindow cannot hidden!
The string "Getting devices list..." has gone but the window still here.
In Windows 7 there is no this problem. ( Using Oracle JRE 7u80 )
If is the jre version's problem? What difference with openjdk and Oracle JDK?

[2015-08-15 02:00] wzhy90 commented on #8
![deepinscreenshot20150815095920](https://cloud.githubusercontent.com/assets/2318890/9286970/5e17db50-4334-11e5-98b7-c626ef0aaffd.png)
Like this screenshot! I have only plug one device!

[2015-08-15 05:56] xSAVIKx commented on #7
I use maven 3.3.3.
And what do you mean by updgraded plugins ? If there are newer versions - it actually doesn't matter, while projects compiling and building process is OK.

[2015-08-15 05:58] xSAVIKx commented on #8
Yes, I know about this bug. I'll have some free time at night, so I'll try to fix such bugs.
About java differences: openjdk is opensource and has their own realisation of every library, so maybe it's openjdk issue. Oracle JDK is not opensource, and, actually, have their own realisation)

[2015-08-15 07:04] wzhy90 commented on #7
Yes, the plugins have some newer version

[2015-08-16 02:06] wzhy90 commented on #8
In Linux the openjdk and oracle jdk has the same bug

[2015-08-16 13:35] xSAVIKx commented on #8
Try new release, please.
Should be fixed.

[2015-08-16 13:37] xSAVIKx commented on #7
I've fixed issues with client, we've just have now no client)
I'll try to measure speed with and without client, cause now, I think it's working a little slower.
But, anyway, please test if current issue can be closed.

[2015-08-16 14:28] wzhy90 commented on #8
fixed !

[2015-08-16 14:29] wzhy90 commented on #7
It seems master and standalone both have no client ?

[2015-08-16 14:29] #8 closed, assigned to nobody

[2015-08-16 14:32] wzhy90 opened #10 "key mapping has some key wrong"
I using Google Pin-Yin on phone. Cannot input "?" or some other keys by typing my PC keyboard with both English input method or Chinese method .

[2015-08-16 14:36] wzhy90 opened #11 "Lastest version why has lots of these logs?"
Why ? It seems like error or warning . But I cannot find any bugs when using

[code]

[2015-08-16 14:47] xSAVIKx commented on #7
Yeap, I pushed changes to master instead of standalone, but I think I don't want to develop client)

[2015-08-16 14:48] xSAVIKx commented on #11
It's just trace logs.
I'll add opportunity to set logger level via property file.

[2015-08-16 14:55] xSAVIKx commented on #10
Yeap, agree with you. I'll investigate this problem.

[2015-08-16 15:04] wzhy90 commented on #7
OK, problem fixed .

[2015-08-16 15:04] #7 closed, assigned to nobody

[2015-08-16 15:15] wzhy90 opened #12 "Cannot record video ?"
Why not use mp4 ? Using QuickTime have to install the apple QuickTime .

[code]

[2015-08-16 15:18] wzhy90 commented on #12
And when click cancel in the file selection window , stop the record will show this error

[code]

[2015-08-16 15:35] xSAVIKx commented on #12
Yes, this feature is not working yet :-(

[2015-08-16 15:36] xSAVIKx commented on #11
Warnings or errors will be logged with [WARNING] or [ERROR] level.

[2015-08-16 15:36] #11 closed, assigned to nobody

[2015-08-19 04:48] wzhy90 opened #13 "How to search key from app.properties?"
I add some key to app.properties file and Constants.java .
But the app won't search for my key . How to add it correctly ?

[2015-08-19 08:13] xSAVIKx commented on #13
I, actually, cannot understand what you're willing to do....
everything about properties is being done using Spring and Environment autowired class.
Constants.java just contain names of properties, that could be accessed via Environment.

[2015-08-19 12:15] xSAVIKx commented on #10
OK. I've investigated current situation and as for now it's something like this:
current method of sending commands to device cannot support such key, unfortunately.
I'll investigate more to propose any suitable way to support whole UTF with keyboard.
But, this issue is closed for now, cause ADB doesn't support any way to send such keys without interacting with some apks.

[2015-08-19 12:15] #10 closed, assigned to nobody

[2015-08-19 14:07] wzhy90 commented on #13
I add a width and height to app.properties file to set the default window pixel.
Constants.java has add:

[code]

Then use Integer.parseInt(Custom_Height) to change the number to int.
But it seems not working.

[2015-08-19 14:29] xSAVIKx commented on #13
cause it's totally wrong.
As i've already said, you should use Environment to load properties.
You want window to be scalable ?(It's already scalable)
Or you just want the app to start with some fixed height and width ?

[2015-08-19 15:06] wzhy90 commented on #13
Yes, the default window size is to large for me

[2015-08-19 16:39] xSAVIKx commented on #13
I've added feature, that you request.
you can download latest release from here: https://drone.io/github.com/xSAVIKx/AndroidScreencast/files/target/androidscreencast-0.0.4S.jar

Properties example in app.properties file:
default.window.width=1024
default.window.height=768

[2015-08-19 16:39] #13 closed, assigned to xSAVIKx

[2015-08-23 14:33] wzhy90 opened #15 "0.0.5S cannot swipe any more."
All swipe command start with x=-1, y=-1

[code]

[2015-08-24 05:50] xSAVIKx commented on #15
Agreed, will try to fix today.

[2015-08-24 13:15] xSAVIKx commented on #15
@wzhy90
Please check new version and confirm that bug is fixed.
Thanks, for you help in testing.

[2015-08-27 14:20] wzhy90 commented on #15
fixed!

[2015-08-27 14:20] #15 closed, assigned to xSAVIKx

[2015-08-27 14:26] wzhy90 opened #16 "Cannot start without app.properties."
As my pull request. The app cannot search the PATH for adb.
Here is the logcat . Seems Windows platform has the same logcat as Linux platform.

[code]

[2015-08-27 15:05] xSAVIKx commented on #16
@wzhy90, please attach app.properties and AndroidScreencast.log files to issue.

[2015-08-27 17:57] xSAVIKx commented on #16
I've just tested last version (0.0.5.1S) on my Win7x64 laptop and everything is working normally without any properties at all.
I've just download release and run it.

The problem may be, if you don't have adb folder in your PATH system variable and you don't point full path in app.properties.
Check if you can run adb via CMD.

[2015-08-27 23:59] wzhy90 commented on #16
Yes，I have copy adb to C:\Windows. Also Win7x64, with x86 JRE or JDK.

[2015-08-28 08:51] xSAVIKx commented on #16
@wzhy90 , I don't understand you :-(
If you just copy adb into C:\Windows - this won't add program to PATH variable.
Please, take look at http://www.computerhope.com/issues/ch000549.htm
And if it helps - please close the issue.

[2015-08-28 16:34] wzhy90 commented on #16
Yes, but the C:\Windows is the default value in the system wide PATH.
So I can run adb in cmd.exe by typing without any other keys.
But this app cannot use only adb to start adb server.

[2015-08-28 19:35] xSAVIKx commented on #16
Did you also copy AdbWinApi.dll and AdbWinUsbApi.dll ?

[2015-10-14 04:33] gaberad opened #17 "Long press"
Hi,

Would it be possible to implement long presses? Some actions in apps require long presses e.g. selecting files in file managers.

http://stackoverflow.com/questions/11142843/how-can-i-use-adb-to-send-a-longpress-key-event

Maybe have left click = tap, right click = long press?

What would be useful is to be able to long press then drag and drop i.e. for moving icons around on the home screen

[2015-10-20 15:57] jonesgy opened #18 "Can't work on 1024x768 resolution"
Hi

Thanks for your contribution on AndroidScreencast. Now I encounter a tricky issue and want to confirm the issue is related to platform or AndroidScreencast.

I change my device's resolutoin to bellowing configuration and AndroidScreencast failed on 1024x768.

[code]

It shows me bellowing log

2015-10-18 23:37:32 [ERROR] [ScreenCaptureThread:105] - fetchImage()
com.android.ddmlib.TimeoutExcept

[2015-10-20 19:08] xSAVIKx commented on #18
Hi.
Can say nothing about that.
First of all: how do you change tour device resolution, so that I can try to reproduce issue ?

[2015-10-22 14:16] jonesgy commented on #18
Hi

Sorry for my later reply.

I change the resolution in my Android BSP to specific resolution for different product's LCD.

If com.android.ddmlib.Device.getScreenshot(...) return failed on specific resolution, does it mean my Android BSP don't support this resolution in JPEG encoder?

[2015-10-22 14:52] xSAVIKx commented on #18
Sorry, but I don't know what is BSP and how it can be changed, I never had such purpose to change resolution.
I don't know exactly if it can be the reason.
You can try to check sources of DDMLIB: http://grepcode.com/file/repo1.maven.org/maven2/com.google.android.tools/ddmlib/r13/com/android/ddmlib/AdbHelper.java#AdbHelper.getFrameBuffer%28java.net.InetSocketAddress%2Ccom.android.ddmlib.Device%29

[2015-11-26 06:06] gshmu opened #19 "keycode -1, thanks"
![exec keycode](http://img.vim-cn.com/bb/03e697ffdc5355831001f636ee11394796a6db.png)
the keycode -1 will better.

Execute key event 27, the terminal show 26, and it should be 26. and add the power key will better.

[2015-11-26 08:20] xSAVIKx commented on #19
Hi, you mean just to make it visible as real keyevent number ?

[2015-11-26 09:47] gshmu commented on #19
yes, just start-with 0.

and how do you think about VNC, FPS is really slow.

[2015-11-26 10:37] xSAVIKx commented on #19
I know that FPS is slow, but the purpose of this project was to get rid of Client and access phone, even when you cannot install anything on your device.
IMO there are a lot of android VNCs on Play Market now - you can try any.

I'll think about changing numeration, but fortunately, I don't have enough time now due to my study and main work, but you can try to fork code and change it on your own.

[2015-11-29 14:59] infinity0 opened #20 "Can't use modifier keys"
Hi, thanks for this, it works pretty well. But currently e.g. I can't type shift-x to type an uppercase X.

I guess one way to fix this would be to add a custom version of https://android.googlesource.com/platform/frameworks/base/+/HEAD/cmds/input/src/com/android/commands/input/Input.java and install this onto the phone, similar to how the original androidscreencast worked, but executing injection

[2015-11-29 21:46] xSAVIKx commented on #20
Hi, thanks for your interest.
As far as I know - original screencast doens't use any self-tuned Input.java code. int just use input application and that's all and, actually, as I've looked through android platform sources everything is going deeper to C code and if you want actually to modify Input.java - you need to modify native C code and not only .java, so it's not the easy task.

[2016-01-29 09:51] Nautigsam opened #21 "Diasabling debug messages"
Hey, does it exist an option to disable the numerous debug messages?

[2016-01-29 10:05] Nautigsam opened #22 "Handle Unicode characters"
Hey, I'm french but when I want to type frenchies characters like 'é' or 'à' it shows a '0'. A good thing to investigate would be to handle characters as Unicode, so no more encoding problems :)

[2016-01-29 12:12] xSAVIKx commented on #22
Hi.
Unfortunately right now it's not possible and such functionality will always need client on device.
Moreover you issue is related to #20 and related to ADB input command restrictions :-(
The possible way to solve it - use https://github.com/senzhk/ADBKeyBoard as virtual keyboard on your device.

[2016-01-29 12:12] #22 closed, assigned to nobody

[2016-01-29 12:16] xSAVIKx commented on #21
As for ready-to-use .jar file - no, there's no such option.
But if you want to build app from sources - you can modify log4j.properties file and change stdout Threshold to INFO or any other [relevant logging levels](https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Level.html)

[2016-02-23 21:58] lutin44 commented on #1
Hello! I am interested in this project, and I tested on several phones, and some have a slow refresh and other are quite fast, any reason ?

[2016-02-24 06:36] xSAVIKx commented on #1
Hello.
They all have same version of Android ?
I think, it can be related to Input program implementation (it's part of Android platform and is written in C), cause now AndroidScreencast use DDMLIB - API to communicate with Android smartphone though ADB, without having any client.
So in my opinion, it can be related to Android OS version, or your ADB version.
Regards, Iurii.

[2016-02-24 08:59] lutin44 commented on #1
Hi,
actually i tested a Gt-I9505 CyanogenMod 13 Android 6.0.1 rooted, and this one is the slowest.
Else i tested a galaxy A3 rom stock android 4.4 no rooted and A Galaxy Core Prime stock too and both are much more fast than the fisrt one.

I'm in ADB version 1.0.31, and i've just updated in version 1.0.32 (http://forum.xda-developers.com/htc-one/general/tool-updated-adb-version-1-0-32-fastboot-t29

[2016-02-24 09:19] xSAVIKx commented on #1
Actually, right now have no time to invest in this project, so I don't know when it'll be refactor to work faster.
Thanks for your interest, Fred.
BR, Iurii.

[2016-04-29 15:49] Etuldan opened #23 "Can't unlock my phone using pattern"
My smartphone's screen just broke up (only the touch screen to be accurate), so I try to use AndroidScreencast (as it was previously rooted and adb ready).
Java program starts, all seems OK, but I can't unlock my phone (nexus 4, custom ROM Android 6) using pattern (3x3 grid), (error "Schéma incorrect", means wrong pattern). I can swipe it (to show the unlock pattern screen).
Of course, I'm 100% su

[2016-04-29 17:09] xSAVIKx commented on #23
Hi.
The problem is that swipe gesture support only 2 points, it means that you can do swipe only straight.
It's limitation of adb - it doesn't support complex gestures

[2016-05-15 10:23] Etuldan commented on #23
Just a quick reply :
I was able to bypass (more precisely remove) the lockpattern with this command (or change rm by mv if you want a backup) :
`adb shell rm /data/system/*.key`
Then I reboot my phone, and it goes directly to my homescreen (without password or pattern)

Maybe it could be nice to add this to your app, as I think some usage of this app is to be able to use a android device even is t

[2016-05-30 02:48] nicolas-raoul opened #24 "JNLP"
Would you mind making a JNLP file available, like the one that could be found at http://androidscreencast.googlecode.com/svn/trunk/AndroidScreencast/dist/androidscreencast.jnlp ?
Thanks!

[2016-05-30 22:24] #19 closed, assigned to nobody

[2016-05-31 07:12] xSAVIKx commented on #24
@nicolas-raoul , Hi.
Probably it would be done, cause you're not the first person who is asking for JNLP.

[2016-06-13 08:37] wbo4958 commented on #1
really slow, can be better?

[2016-06-13 09:55] xSAVIKx commented on #1
Maybe with some image-compression algorithms, or if Android will create some new ways to capture screen image, without phone client.

[2016-06-13 10:23] lutin44 commented on #1
Hi , I found that if it can interest (only for samsung):
http://www.samsung.com/us/sidesync/

[2016-06-13 10:32] r-cohen commented on #1
personally, I found this Chrome extension which does the job pretty good:
https://chrome.google.com/webstore/detail/vysor/gidgenkbbabolejbgbpnhbimgjbffefm?hl=en-US

[2016-06-13 10:40] xSAVIKx commented on #1
@lutin44 , @phearme  these apps, for sure, are great, but all require android client - and it's the main difference. With Android client it's really possible to make everything working much faster.

[2016-06-29 11:38] xSAVIKx commented on #24
@nicolas-raoul
Android screencast is now available via JNLP: [androidscreencast.jnlp](http://xsavikx.github.io/AndroidScreencast/jnlp/androidscreencast.jnlp)

[2016-06-29 11:38] #24 closed, assigned to xSAVIKx

[2016-06-29 12:24] nicolas-raoul commented on #24
Wonderful thanks! :-)

[2016-07-07 06:34] SchoolGuy opened #26 "Programm failed to launch"
Following is the last message which I can read at the console, when configuring a false adb path - improvement: catch the exception!

[code]

[2016-07-12 14:19] wzhy90 opened #27 "Get more FPS"
I have use several these apps and I found that they will lower screen quality when the screen is moving.
I think this app can use way to get more FPS

[2016-07-12 20:14] xSAVIKx commented on #27
@wzhy90 have no idea right now how smth like that could be done, while there is no client on smartphone.
The problem here is that I use DDMLIB that abuses ADB to fetch images from smartphone and it's a bottle neck here.

[2016-08-02 00:43] polyzen commented on #27
This seems to be a duplicate of #1.

[2016-08-03 15:11] xSAVIKx opened #30 "Update documentation"
Due to [this post](http://forum.xda-developers.com/showthread.php?t=1957312&page=3#post68027475) on xda-developers it would be great to extend current documentation with prerequisites (for example, earliest supported Android version and so on).

[2016-08-03 18:46] #27 closed, assigned to nobody

[2016-08-08 07:11] guandalf opened #31 "Successfully built jar does not work (on macos?)"
[INFO] No tests to run.
[INFO]
[INFO] --- maven-jar-plugin:2.6:jar (default-jar) @ androidscreencast ---
[INFO] Building jar: /Users/stefanoguandalini/Projects/github/AndroidScreencast/target/androidscreencast-0.0.7s.jar
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] -----------------------------------------------------------------------

[2016-08-08 08:03] xSAVIKx commented on #31
@guandalf what maven command do you run ?
I've just tried to clean and build everything again:
`mvn clean package`
And then you need to run `androidscreencast-0.0.7s-executable.jar`:
`java -jar androidscreencast-0.0.7s-executable.jar`

androidscreencast-0.0.7s.jar is package without all dependencies bundled, so you need to use executable jar file.

[2016-08-08 08:07] guandalf commented on #31
I followed the instructions:

mvn package

but:

stefanoguandalini@Stefanos-MacBook-Pro ~/P/g/AndroidScreencast> ls -l target/androidscreencast*
-rw-r--r--  1 stefanoguandalini  staff  141908 Aug  8 09:09 target/androidscreencast-0.0.7s.jar
stefanoguandalini@Stefanos-MacBook-Pro ~/P/g/AndroidScreencast>

I cannot see any "executable" file.

stefanoguandalini@Stefanos-MacBook-Pro ~/P/g/AndroidScree

[2016-08-08 08:12] xSAVIKx commented on #31
@guandalf maybe you should update your codebase ? cause since #25 it should build everything.

[2016-08-08 08:22] guandalf commented on #31
Ok, the master builds correctly the _executable_.
I was building the 0.0.7S tag thinking it should have been more stable. :)

Sorry.

[2016-08-08 08:25] xSAVIKx commented on #31
@guandalf and you are perfectly right :-) it's more stable, but it lacks some points regarding configurations (you should use additional mvn configurations to enable release-profile, where generation of executable jar and signing of jar files where done).
I'd close this ticket, if everything is OK right now.

[2016-08-08 08:29] #31 closed, assigned to nobody

[2016-08-25 04:47] AbhishekAcharekar opened #32 "Not able to use Space bar and Other Special characters from Keyboard (eg. @, $ , ?)"
I'm able to see and control my device using JAR.
but I m not able to use keyboard completely.. I'm not able to type space or symbols like ? @ etc.
this would help a lot if you can incorporate this.

[2016-08-25 07:45] xSAVIKx commented on #32
@AbhishekAcharekar Hi, unfortunately it's not so easy, due to some restrictions in ADB.

Your issue is also related to #22  and #20 , but right now I don't see variants how to implement it.

[2016-09-07 14:23] #30 closed, assigned to xSAVIKx

[2016-10-11 15:23] iqtedar opened #33 "A fatal error has been detected by the Java Runtime Environment"
20:15:25 [DEBUG] [Main] - main(String[] args=[]) - start
20:15:25 [DEBUG] [MutablePropertySources] - Adding [systemProperties] PropertySource with lowest search precedence
20:15:25 [DEBUG] [MutablePropertySources] - Adding [systemEnvironment] PropertySource with lowest search precedence
20:15:25 [DEBUG] [AbstractEnvironment] - Initialized StandardEnvironment with PropertySources [systemProperties,

[2016-10-12 06:53] xSAVIKx commented on #33
It'll be better if you'd attach log file to issue.
But, anyway, I haven't tested it with JDK 9, as it's even not released yet. Could you reproduce such behaviour on stable Java version ? (7,8)

[2016-12-07 13:44] xSAVIKx commented on #33
@iqtedar I will close this issue, as I cannot understand what actually happened. Next time - please attach log file and do not just paste output.

[2016-12-07 13:44] #33 closed, assigned to nobody

[2017-01-15 08:15] hbetx9 opened #34 "linux mint build, looks for adb.exe"
Not sure why, but the massive error list has it looking for this exe and did not seem to be OS aware. How can I rebuild so as to ensure it runs?

[2017-01-15 08:32] xSAVIKx commented on #34
@hbetx9 Hi.
Do you use `app.properties` with executable jar file?

The easiest way to point what `adb` to use is to create `app.properies` file near executable jar with such content:
[code]

You can use this example [app.properties](https://raw.githubusercontent.com/xSAVIKx/AndroidScreencast/master/app.properties).

Also, if you don't use such file it should try to find adb executable automaticall

[2017-01-20 00:54] ghazel opened #35 "Error: Unknown command: tap"
Running on the Nexus Q

[code]

[2017-01-20 06:55] xSAVIKx commented on #35
Hi.
Your device don't support tap command with adb.
Not sure if anything could be done

On Fri, Jan 20, 2017, 02:54 Greg Hazel <notifications@github.com> wrote:

[2017-01-24 22:40] IzzySoft commented on #17
And once done, please let us know what to "click" to achieve a long-press :)

[2017-01-24 22:43] IzzySoft commented on #34
@hbetx9 Are you sure you downloaded the right archive? I'm on Mint 18.1 here. Downloaded the latest `androidscreencast-0.0.8s-linux.tar.gz`, unpacked, and started the `.jar` as described (`java -jar *.jar`). Takes a few secs to start up, but didn't complain but worked out-of-the-box. Admitted, I didn't build it myself.

[2017-01-25 06:05] xSAVIKx commented on #34
@hbetx9 you can try to build it on your own using maven wrapper that is available now, just run from the cloned repo folder:
[code]
It'll compile all sources and prepare OS bundles. You can find all bundles under `target` directory.
Also, for current snapshot version I've added proper app.properties to each bundle, so you shouldn't have any problems with ADB location anymore.

BR,
Iurii.

[2017-02-11 06:43] xSAVIKx commented on #12
Video recording is fixed and enabled with c9bcca84e3968d876549ad1250db97597222e778.

And about mp4 - there is no easy way to convert screenshots (that are `BufferedImage`s in Java) to video, while Apples QuickTime format is more or less easy to implement and well documented.

[2017-02-11 06:43] #12 closed, assigned to xSAVIKx

[2017-03-03 02:34] v3ree opened #38 "Exception in thread "main" java.lang.NoClassDefFoundError: org/slf4j/LoggerFactory"
With Java 9 installed I get this error when I try to start the program:
[code]

[2017-03-03 20:24] xSAVIKx commented on #38
Hello @vlad3-3-3.

I do believe that problem is in jar you're going to run.

You should run jar with `-executable` suffix.

Please read [building and running from sources section](https://github.com/xSAVIKx/AndroidScreencast#building-and-running-from-source)

[2017-03-14 17:59] ohadschn opened #39 "App gets stuck on exit"
OSX El Capitan.
Whenever I quit the program it hangs and I'm forced to kill it:

[code]

[2017-03-14 18:18] xSAVIKx commented on #39
Hi @ohadschn.
Thanks for the info, unfortunately I don't have anything with OSX near, so I wouldn't be able to verify it, but could you please share AndroidScreencast.log file? It should be somewhere near the `.jar` executable.

[2017-03-14 18:30] ohadschn commented on #39
Sure:

[code]

[2017-03-14 18:33] ohadschn commented on #16
I experienced the same in OSX (El Capitan), even though `adb` was in the path and functioning correctly. In order to fix this I had to place an `app.properties` file with the following content in the same folder as the _AndroidScreenCast_ jar:

[code]

Might be nice to mention this in the docs though...

[2017-03-14 18:33] xSAVIKx commented on #39
Hm. Weird that there is no debug logging at all.
Are you using released version or you compiled sources on you own?

[2017-03-14 18:36] xSAVIKx commented on #16
I got that. Probably some problem in the `ddmlib` library, will try to investigate to root source of problem and maybe submit issue to Android developers

[2017-03-14 18:48] xSAVIKx commented on #39
@ohadschn , Have just tried to reproduce on Win10 but it works as expected - everything is shutting down.

I won't have ability to invest additional time until weekends, but it would be great, if you could test some changes during weekends. I'd add some additional logging and probably will check the problem with `ddmlib` doesn't start ADB server when ADB is not configured via app.properies regardi

[2017-03-14 18:58] ohadschn commented on #16
@xSAVIKx sounds like a plan, but like I said mentioning this in the docs in the meantime could be nice...

[2017-03-14 19:00] ohadschn commented on #39
I'm using the released version: https://github.com/xSAVIKx/AndroidScreencast/releases/download/0.0.10s/androidscreencast-0.0.10s-executable.jar.

Sure, just let me know exactly what you want me to run and I'll try it out..

[2017-03-14 21:21] xSAVIKx commented on #16
@ohadschn I've added [Configuration section](https://github.com/xSAVIKx/AndroidScreencast#configuration) into the README, please check if it's OK for you.

[2017-03-15 07:41] ohadschn commented on #16
@xSAVIKx looks good, thanks! Only thing I would change is "near the runnable .jar" to "in the same folder as AndroidScreencast's jar". I would also mention that a an example for that file could be found at https://github.com/xSAVIKx/AndroidScreencast/blob/develop/app.properties.

[2017-03-15 08:20] xSAVIKx commented on #16
@ohadschn done. Thanks.

[2017-03-19 20:47] xSAVIKx commented on #16
Regarding to latest research:
I've wrongly used DDMLIB methods in order to create programmatic ADB bridge.
I need to change documentation, to be sure that application will be used correctly. So for now - it's documentation bug.

[2017-03-19 21:17] #16 closed, assigned to xSAVIKx

[2017-04-20 13:08] guandalf commented on #17
I think this is a really useful enhancement. +1

[2017-04-20 13:11] guandalf opened #40 "Double click to send POWER (key 26) event"
Hi,

while using remote mobiles it's not possible to unlock them manually. For this reason we use to send a Key 26 event (POWER) and then swipe to unlock. Since this is an operations that happens a lot of times a day, it would be really useful to have it handy, double clicking on the main window.

[2017-04-20 13:45] gabrielebenassi commented on #17
Would be great having it soon!!

[2017-04-20 15:35] xSAVIKx commented on #40
@guandalf I'm not sure if it's good idea to bind power button the mouse click event...

[2017-04-21 06:17] guandalf commented on #40
In fact I was referring to a *double* click, but I see from the documentation there is no such event in the mouse adapter. So probably, let's forget about it (sigh).
BTW I've stolen the idea from one of the project you mention as similar to this one.

[2017-04-21 06:17] #40 closed, assigned to xSAVIKx

[2017-05-01 20:03] noraj commented on #1
@phearme Vysor is crap, it works only with Ubuntu for Linux system and the dev is [naughty](https://github.com/koush/vysor.io/issues/243).

@xSAVIKx perf are very bad for me (1 frame every 2 seconds), so this is impossible to play, watch a video or even write text, it's too slow.

[code]

Phone: Elephone P7000 (Android 5.0)

[2017-05-01 20:33] xSAVIKx commented on #1
@noraj1337 Hello, thanks for your response.

It should be mentioned that this application was not designed for such high-FPS activities.
The main goal of the app was to be able to somehow use phone with the broken screen - it's just not the replacement for the RDP.
I think you have to find something more suitable for your purposes.

[2017-05-01 20:49] noraj commented on #1
@xSAVIKx You're right. Can you mention in the readme that the average FPS is under 1 frame per second ? Thanks for your answer. Do you know another app working without client (adb) or with a linux client that will allow me to mirror my phone and control it from my Linux PC via USB or local wifi? Seven Square too slow like AndroidScreencast, Droid@Screen doesn't work, Vysor doesn't work under Linux

[2017-05-08 17:31] xSAVIKx commented on #1
@noraj1337 I don't think you'll find any app without client side and with any acceptable FPS rate - it's just limitation of the ADB and the way apps are obtaining screen images.

[2017-05-08 18:46] noraj commented on #1
@xSAVIKx Yeah, you're right, thanks for your answer.

[2017-05-21 17:03] WolfgangFahl commented on #1
Just added an fps calculation. see https://github.com/xSAVIKx/AndroidScreencast/pull/42/commits
The results are unsatisfactory on a Wifi adb connection:

[code]
a simple screencap is still slow but at least 2 x quicker:
[code]

[2017-05-21 18:57] xSAVIKx commented on #1
@WolfgangFahl I'd appreciate PR with something better than the current solution.

[2017-05-21 20:28] WolfgangFahl commented on #1
Iurii - thanx. I am investigating.
e.g. ```
date;adb exec-out busybox gzip -fc /dev/graphics/fb0  > frame.zip;date
So 21 Mai 2017 22:27:05 CEST
So 21 Mai 2017 22:27:07 CEST
[code]

[2017-05-21 20:59] xSAVIKx commented on #1
@WolfgangFahl yeap, but:
1. IMO it's too device dependent
1. How are you going to run such commands from the app?

I do plan to get rid of `ddmlib`, but it's not so easy.

[2017-05-22 08:05] WolfgangFahl commented on #1
indeed busybox is not available on all devices and the access to the framebuffer might also be limited.

I found https://github.com/openstf/minicap which at least is some solution to get better fps

[2017-05-22 19:10] xSAVIKx commented on #1
@WolfgangFahl, very interesting project. Probably I'd try to use this one instead of ADB.

But for sure, the problem will be to install binary for every phone and OS version... Not sure right now how to use it.

[2017-08-20 17:01] lesca opened #43 "IO Exception happened while getting device screenshot"
I got tons of error messages as below:

They are just repeated again and again.

Platform is Android-x86 running in Hyper-V VM hosting on WS2016.

It's appreciated if you give me some advises to solve this.

[2017-08-20 17:27] IuriiSergiichuk commented on #43
@lesca Hi, are you able to get a screenshot via `adb` directly?

[2017-08-20 17:28] xSAVIKx commented on #43
@lesca Hi, are you able to get a screenshot via `adb` directly?

I haven't tested the app against any VMs.

[2017-08-26 03:57] lesca commented on #43
@xSAVIKx What's the command to take screenshot with "adb" ? I'd like to have a try.

[2017-09-18 06:56] nazyrov commented on #43
To get screenshot via adb
`adb shell screencap /sdcard/screen.png && adb pull /sdcard/screen.png`

[2017-09-24 01:19] ghazel commented on #35
Using monkeyrunner to emit a touch event works:

[code]

[2017-09-24 16:14] xSAVIKx commented on #35
@ghazel probably it emits 2 `keyevent` commands and that's why it's possible to send `tap` event.

I'd appreciate a PR with such fallback functionality when direct ADB `tap` command is not available.

[2017-09-24 17:35] fenoktech opened #45 "A fatal error has been detected by the Java Runtime Environment"
When I try to launch I get the below:

java -jar androidscreencast-0.0.10s-executable.jar

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000000006e492eb3, pid=7232, tid=7372
#
# JRE version:  (9.0+181) (build )
# Java VM: Java HotSpot(TM) 64-Bit Server VM (9+181, mixed mode, tiered, compressed oops, g1 gc, windows-amd64)
#

[2017-09-24 18:21] xSAVIKx commented on #45
@fenoktech Hi. What about trying to use Java8 for now? I haven't tested it yet with Java9 as it's not in GA.

[2017-10-19 18:08] d1rewolf opened #46 "Failed to get device screenshot - Pixel 2 XL"
Hi there.

First off, I absolutely love this project. I really appreciate the work you've put into it.

I was using it on a Pixel XL (updated to 8.0) up until yesterday, and it was working fine. Then, however, I switched to a Pixel 2 XL, and the following happens...

If I set the screensize manually (to ), I get:

`14:04:12 [Screen Capturer]     INFO  ScreenCaptureRunnable - Failed to get device s

[2017-10-19 18:19] d1rewolf commented on #46
Also, just an fyi...I did try adb shell screencap /sdcard/screen.png && adb pull /sdcard/screen.png, and was able to pull a screenshot successfully.

[2017-10-19 18:35] xSAVIKx commented on #46
Hello.

Could you please check your ADB version? Probably there were some changes
in the ADB protocol and current java library doesn't support it yet.

Also, are you using some bundle from releases or you have your own ADB?

[2017-10-23 14:28] d1rewolf commented on #46
I've tried using your provided adb, and I've also tried using adb downloaded with the SDK.

I'm currently using adb 1.0.39, which is included with the latest downloads via SDK Manager (see below).

Any ideas?

Thanks in advance.
`
10:26:58 [Screen Capturer]     INFO  ScreenCaptureRunnable - Failed to get device screenshot
10:26:58 E/Screenshot: Unsupported protocol: 2
10:26:58 [Screen Capturer]

[2017-10-25 20:31] xSAVIKx commented on #46
@jbwiv Actually right now I have no idea why it could fail :-(

I suppose something has changed with the protocol, but AFAIK `ddmlib` - the library that is used by the app is not yet updated (actually the last update was in march)

[2017-10-30 18:26] d1rewolf commented on #46
How can you track what ddmlib makes it into production?
I created my own implementation of AdbHelper's getFrameBuffer and overrode the value returned from buf.getInt() to be set to either 1 or 16 (the only protocol versions supported per RawImage.readHeader) but neither version did the trick...though I was able to get past that error I quickly hit other errors downstream.

So it appears the protoc

[2017-10-31 07:05] xSAVIKx commented on #46
@jbwiv ddmlib should be part of the [Android OSP](https://source.android.com/). I've used the latest version available from the official Maven Repository, but, maybe, it could be built from sources.

[2017-10-31 07:12] xSAVIKx commented on #46
@jbwiv there is kind of a hell within AOSP git repository, but even with glance look, I can see, that there were lots of changes to the `ddmlib` part since latest maven release. Maybe it's possible to compile from [source](https://android.googlesource.com/platform/tools/base/+log/studio-3.0/ddmlib/src/main/java/com/android/ddmlib)

[2017-10-31 13:56] d1rewolf commented on #46
Ok, I'll look into what it takes to do that. Thanks!

I'll let you know.

[2017-11-30 17:49] devint1 commented on #46
Using ddmlib 26.0.0 bundled with the Android SDK tools worked for me.

`<android-sdk>/tools/lib/ddmlib-26.0.0-dev.jar`

[2017-11-30 18:20] xSAVIKx commented on #46
Thanks! I'll update the implementation soon.

[2017-12-20 20:27] d1rewolf commented on #46
Interesting...trying with 26.0.0 gives me:

`
Exception in thread "main" java.lang.NoClassDefFoundError: com/android/ddmlib/TimeoutException
	at com.github.xsavikx.androidscreencast.api.injector.ScreenCaptureRunnable_Factory.get(ScreenCaptureRunnable_Factory.java:27)
	at com.github.xsavikx.androidscreencast.api.injector.ScreenCaptureRunnable_Factory.get(ScreenCaptureRunnable_Factory.java:8)
	at da

[2017-12-20 21:01] d1rewolf commented on #46
Sorry, never mind. I had to mvn install-file the jar to get it to work. Can confirm ddmlib 26.0.0 fixes the issue. Thanks!

[2017-12-21 08:27] xSAVIKx commented on #46
Yeah, but this version is not yet published into Maven Central or Bintray.
And I don't really want to include my-own-compiled library.

[2018-01-05 10:07] ghazel commented on #35
I don't see it using `keyevent` commands. It's using the `monkey` tcp interface (https://github.com/aosp-mirror/platform_development/blob/master/cmds/monkey/README.NETWORK.txt) and sending:
`tap x y`

[2018-01-09 11:18] xSAVIKx commented on #35
@ghazel try to run `adb shell input tap 512 1800` within the terminal. Also, what `adb` instance do you use?

[2018-01-09 17:02] ghazel commented on #35
`input` on the device does not have a `tap` command. The adb is the one that comes with platform-tools.

[2018-01-10 08:26] xSAVIKx commented on #35
@ghazel OK. So, `tap` ins't supported by your `input` implementation.

Monkey uses its own implementation of the `tap` command:
[code]

And the `tap` is just a shortcut to the `touch`:
[code]

Anyway, Monkey uses their own implementation of events, that rely on `android.hardware.input.InputManager`. That means, that we do need some client on the device side, while AndroidScreencast doesn't require

[2018-01-10 11:10] ghazel commented on #35
AndroidScreencast does require the `input` command on the client side, same as `monkey`. It's just that in my case `monkey` works better than `input`. They both seem to be present on all devices.

[2018-02-08 05:08] mcmindcoder commented on #46
Thank you for solution guys. I had the same issue. It's fixed now.
To help others: One can download the entire 26 sdk with ddmlib-26.0.0-dev.jar included here: https://chromium.googlesource.com/android_tools/+archive/HEAD/sdk.tar.gz
As for now max available version of Android SDK Tools in android repo is 25.2.5
When version 26.0.0 gets available, problem will gone naturally.

[2018-02-17 03:41] blackinitial opened #47 "ADB executable lacks `executable` (`+x`) flag"
I has installed AndroidScreencast,
and my app.propperties :
[code]

and run :
[code]

but i have error :
[code]

what a mistake i have made, i'm sure my path are correct.
how to fix this?

[2018-02-17 07:07] xSAVIKx commented on #47
Hello @blackinitial, what OS are you using?

And your path should be an abstract one: starts with `./` or an absolute one: starts with `/`.

So, e.g. if your `adb` folder is within the root filesystem folder, the `adb.path` property should be: `/adb/linux/adb`.
If you are configuring ADB for a relative location, i.e. the `adb` folder is in the folder from which you are running the `java -jar` comm

[2018-02-19 21:18] Hattshire commented on #35
given we use adb to do this, it would be better for a broader compatibility to push an executable(i.e. modified _input_ ) with adb to a temp folder and execute that instead of the native device executable.

[2018-02-20 07:16] blackinitial commented on #47
@xSAVIKx thanks for response..
im still error, i have tried to change the path to `adb/linux/adb` , `/adb/linux/adb` , `./adb/linux/adb` .

my OS Linux Mint 18.3 Sylvia x86_64

[2018-02-20 08:52] xSAVIKx commented on #35
@Hattshire I do appreciate a PR with such modifications :-)

[2018-02-20 09:01] xSAVIKx commented on #47
@blackinitial please check if you have `+x` flag on `adb/linux/adb` and `adb/linux/fastboot`.

Looks like I missed execution flags and they are not persisted in the repo...

You can manually set them using following command:
[code]

[2018-02-20 09:06] xSAVIKx commented on #47
I have renamed the issue to properly highlight the problem here.

[2018-02-21 03:34] blackinitial commented on #47
okay, now, androidscreencast can run, but so slowly, lag :(
how to be faster ..?

[2018-03-01 07:24] yoogoomin opened #48 "The Code missing the class of DaggerMainComponent"
The Code missing the class of DaggerMainComponent, please tell me how to get it .thanks

[2018-03-05 10:18] slashome opened #49 "Wrong screen resolution + render glitches"
Hi,

I'm trying AndroidScreencast for the first time and I'm unable to use it properly, the render looks like this :

![83d706db_002](https://user-images.githubusercontent.com/11615023/36969285-5ad228fe-2065-11e8-98fc-e1a1e7c2b834.png)

I'm using i3wm on Archlinux. Adb is luanched as root user, and here is my app.properties :
[code]

I was originaly configured with ```app.native.look=false``` but

[2018-03-05 12:44] xSAVIKx commented on #48
@yoogoomin that class is auto-generated and will be created on the fly by the Dagger compiler.

In order to look on its source code, you have to compile the whole project. It will be generated under `target/annotations/com.github.xsavikx.androidscreencast/dagger` folder.

[2018-04-26 15:07] saminiir commented on #46
I also made it work by updating ddmlib to 26.0.0-dev. Edited CLI history:

[code]

[2018-06-04 19:12] #47 closed, assigned to xSAVIKx

[2018-06-04 19:12] #46 closed, assigned to nobody

[2018-06-04 22:48] ghost opened #51 "New Design for AndroidScreencast"
Hi,

I'm designing for open source projects, expanding my portfolio. I want designing an icon for your project. There are a few ideas in my mind, I hope you accept and I do them. If you have an idea, please let me know. In this way we create a beautiful icon.

Best Regards.

[2018-06-07 11:09] xSAVIKx commented on #51
@Yasujizr Hi! Sure, I'd be glad to work with you, but I don't really have any knowledge of graphics design, so feel free to express yourself.

[2018-06-07 18:30] gbc921 commented on #1
Hi all,
I've take a look at minicap recently and it seems to works fine (for me). [They have an example that runs on nodejs and we can use it through the browser](https://github.com/openstf/minicap/tree/master/example).

Then I was wondering, (warning: pretty bad solution coming) if we could integrate the nodejs example like an iframe inside the java window, so we can have a fast screen mirroring

[2018-06-07 18:46] polyzen commented on #1
https://github.com/Genymobile/scrcpy

[2018-06-11 09:15] sagarsheth27 commented on #46
@mc-android-developer, I am downloaded it. Now how to use it. What steps I have to follow?
Could you please guide me.

[2018-06-11 15:02] ghost commented on #51
![untitled-2](https://user-images.githubusercontent.com/36993664/41239591-422f974e-6da1-11e8-8034-a80a386f5590.png)

I thought everyone is using the phone and the computer screen. So I wanted to make a different design. I made these two examples using the keyboard button and the mouse. @xSAVIKx

[2018-06-13 11:37] xSAVIKx commented on #51
@Yasujizr and what are your thoughts about where those icons should be used? Like a logo for the project or what?

I do like the first one, but it has too many details, like the mouse it takes too much attention to itself. As for the second one, it was not obvious to me that it is actually a keyboard key. Maybe the idea of screen-casting should be in the first place, but not `mouse` or `keyboard`?

[2018-06-13 14:25] ghost commented on #51
Logo for Project, to make it more visible to your project. I made them as an example. I'll make a few more examples that will bring the screen to the foreground.

[2018-06-13 21:27] ghost commented on #51
![example](https://user-images.githubusercontent.com/36993664/41379070-aae8e50a-6f69-11e8-87c5-c7387a6d09ab.jpg)

[2018-06-15 07:20] StayZeal commented on #46
Linux：
download ：https://chromium.googlesource.com/android_tools/+archive/HEAD/sdk.tar.gz
overide:tool/lib

Android 6.0 does not work .........

[2018-06-17 18:06] xSAVIKx commented on #51
I do like the first one, but for my own liking, the gradient probably does not fit here. What do you think about taking a look at the Google's Material Design icons?

[2018-06-17 22:32] ghost commented on #51
![sunum](https://user-images.githubusercontent.com/36993664/41512742-6256b23c-7297-11e8-8ce2-52cde6fc816e.jpg)

[2018-06-19 00:40] ghost commented on #51
I forgot to add my comment. A computer and a phone confused. We can try to express it more simply. For example, an arrow that turns into a computer mouse icon arrow, clicking on the phone icon

[2018-06-21 13:05] antoniosap opened #52 "latency is always over 1 second"
on architecture:
intel celeron 2 cores, 8 GB ram
and on raspberry pi 3, 1GB ram and 4 cores
equal performances

[2018-06-22 10:35] artig commented on #46
Unable to take screenshot Nexus5X Android 8.1

I tried with ddmlib 26.0.0 but it is not working for me.
Also, I have overridden the tool/lib with the above. Still it is not working.

Getting the below error on the terminal:
E/Screenshot: Unsupported protocol: 2

And on UiAutomatorViewer getting the below error:
Unexpected error while obtaining UI hierarchy
java.lang.reflect.InvocationTargetExcepti

[2018-06-22 10:42] xSAVIKx commented on #46
@artig what version of the app do you use?

[2018-06-22 10:43] xSAVIKx commented on #46
@StayZeal what version of the app do you use? Have you tried the [latest](https://github.com/xSAVIKx/AndroidScreencast/releases/tag/v0.0.12s) one with the updated ddmlib version inside?

[2018-06-22 10:48] xSAVIKx commented on #51
@Yasujizr Sorry, but I don't get what you meant to say with your comment. Also, I'd like to wonder if we really need those shadows? Maybe it'll look simpler and stricter without shadows?

[2018-06-22 10:49] xSAVIKx commented on #52
@antoniosap the FPS is a known problem and for now nothing could be done. It is the restriction of the way the app is obtaining screenshots from the phone. There is an open discussion [here](#1).

[2018-06-25 20:00] ghost commented on #51
![sunum2](https://user-images.githubusercontent.com/36993664/41872719-707845d0-78cb-11e8-95ff-84f61ed3725f.jpg)

@xSAVIKx Hi, I delete all shadows. If you like it, I can send a PR.

[2018-07-03 22:40] ghost commented on #51
Hi, if you like, send us sample logos that you like, and let's design it again.

[2018-07-09 19:47] #51 closed, assigned to nobody

[2019-01-07 06:03] FDU-SE-LAB opened #53 "Your project xSAVIKx/AndroidScreencast is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-17 01:41] cxplan commented on #52
The key point of low latency is improving the size of  screen data, Two ways may be effective:

- implement obtaining screen data  using native code
- encode/decode the screen data by h264 codec

The project [CXTouch](https://github.com/cxplan/CXTouch) has some improved points.

[2019-04-13 19:19] Qwerty-Space commented on #12
I can't play the video file.  This is what mpv says

[code]

And this is what ffprobe says:
[code]

[2019-06-24 15:09] upost opened #55 "Rotate screen"
There should be an option to rotate the screen and to capture in landscape mode, i.e. when using tablets.

[2019-06-24 15:11] upost opened #56 "Capture fails with exception"
Trying to capture from a Huawei Mediatab M2 (10 inch tablet) yield this exception:

[code]

[2019-11-24 13:19] 4EPHblN commented on #43
@xSAVIKx Hi, i get this problem for AndroidScreencast 0.0.13s on Win7 wiht JDK 13.0.1
[code]
This warning shows in console around one/two times per second.

[2019-11-25 08:43] xSAVIKx commented on #43
@4EPHblN do you have the `AndroidScreencast.log` file? There should be more detailed logs.
Also, can you try to grab the screenshot manually?

The other suggestion is to use Java8 instead.

[2019-11-25 09:30] 4EPHblN commented on #43
@xSAVIKx
I have the same warning on JDK 8u231.
Manually the screenshot grabs without any problems.
ASUS PC Link which use similar technology works fine.
[AndroidScreencast.log](https://github.com/xSAVIKx/AndroidScreencast/files/3885743/AndroidScreencast.log)

[2019-11-26 21:09] xSAVIKx commented on #43
@4EPHblN yeah, the logs were not helpful here :-( Can you please try the new [v0.0.16s](https://github.com/xSAVIKx/AndroidScreencast/releases/tag/untagged-2634fae39abc51e3f65b) version? I've updated some dependencies and the logs should be more reliable now.

[2019-11-27 09:48] 4EPHblN commented on #43
@xSAVIKx You link shows 404.

[2019-11-27 10:04] xSAVIKx commented on #43
Yeah, looks like draft releases are not publicly available :-(

Here are the bundles.
[androidscreencast-0.0.16s-linux.tar.gz](https://github.com/xSAVIKx/AndroidScreencast/files/3896255/androidscreencast-0.0.16s-linux.tar.gz)
[androidscreencast-0.0.16s-macosx.tar.gz](https://github.com/xSAVIKx/AndroidScreencast/files/3896256/androidscreencast-0.0.16s-macosx.tar.gz)
[androidscreencast-0.0.16s-windo

[2019-11-27 10:25] 4EPHblN commented on #43
@xSAVIKx
An update solves this issue for me.
[AndroidScreencast.log](https://github.com/xSAVIKx/AndroidScreencast/files/3896323/AndroidScreencast.log)

[2019-11-28 20:36] xSAVIKx commented on #43
@4EPHblN that's great to hear! I've also released this version and it's now available [here](https://github.com/xSAVIKx/AndroidScreencast/releases/tag/v0.0.16s).

[2020-01-05 20:15] nestukh opened #60 "AndroidScreencast works on Android TV, but not with HDMI sources or actual TV channels on screen"
first, awesome program! Perfect for fixing common android problems for relatives far away (with a nx server on a computer of theirs and a usb cable).

A relative of mine has got an Android TV, it works there as well! But only on android apps or menus (VLC, Youtube, Aptoide TV, android settings, tv settings, etc): the moment you switch to the so called "TV Vision" app (normal tv channels) or to a k

[2020-01-06 13:47] xSAVIKx commented on #60
Hello @nestukh!

Thanks for reaching me out. First of all, it's just a great example of app usage!

The `screencap` utility actually reads the image stream from `framebuffer` and the same does AndroidScreencast. Most probably, when you cannot get a screenshot with `screencap` you won't be able to use the app either.

Also, it may be possible, that the TV uses a different buffer for non-apps, e.g.

[2020-01-06 13:50] xSAVIKx commented on #56
It may be somehow related to https://bugs.openjdk.java.net/browse/JDK-6508095

What operation system and JDK do you use?

[2020-01-06 15:37] nestukh commented on #60
yes it's most likely as you said. I think that solving this will require some niche android skills (HDMI/TV and low level OS)... *sigh*, it's a long way.
Anyway, thank you for the fast reply.

[2020-01-09 07:37] Mayuresh92 commented on #46
Hi,

I was facing same problem on my real device, but now I have resolved my problem.
When I was facing this problem, at that time I was using Android SDK Tools with version 25.0.0 and SDK platform with version Android 10.0(Q).
So I have updated my SDK Tools version to 26.1.1 and also I got switched to SDK Platform  Android 8.1(Oreo). These steps solved my problem now I am able to take screenshot

[2020-01-09 08:31] xSAVIKx commented on #46
Hi @Mayuresh92. Thanks for your comment. Have you tried the latest versions of the app? I believe we're already using newer versions of both ddmlib and platform tools

[2020-01-09 09:35] Mayuresh92 commented on #46
Hi,

I have been using Platform-Tools with version 29.0.0
My android  version is 10
and using ddmlib-26.0.0-dev

[2020-02-03 07:35] drezden-cell opened #61 "Is it working with devices with broken display and touchscreen?"
Is it working with devices with broken display and touchscreen?

[2020-02-03 12:53] xSAVIKx commented on #61
@drezden-cell yes. If you have your device already paired with your PC, you'll be able to see the device screen and use a mouse to control the device.

You can use the app e.g. to configure a faster screen-sharing app afterward if needed

[2020-08-06 10:59] rugk opened #62 "Release on F-Droid"
It would be great to see this Android app on F-Droid!

[F-Droid](https://f-droid.org/) is an Android app store specifically for free/libre open-source apps. It would be great if your app could be released there, as it is the number one for getting FLOSS Android apps for many people.
F-Droid also builds all apps from source ([optionally even reproducible](https://f-droid.org/en/docs/Reproducible_Bu

[2020-08-06 11:01] xSAVIKx commented on #62
@rugk Thank you for the issue, but this one is not an Android app. It's a desktop app that you can run with Java and operate an Android device through the app.

[2020-08-07 08:03] rugk opened #63 "Include Screenshot in Readme"
Misunderstandings like https://github.com/xSAVIKx/AndroidScreencast/issues/62 could be solved by including a screenshot of the application.

This is also in general useful to see/get a feeling how it looks etc.

[2020-12-27 22:36] #63 closed, assigned to nobody

[2022-01-14 08:55] AxatKaxa opened #69 "lockscreen pattern"
Dear xSAVIKx,

thank you for your great tool, has helped me a lot in recent years!

Is there any solution for the lockscreen-pattern problem meanwhile?
I can see my phones lockscreen, but I am obviously unable to draw the pattern (only straight lines allowed).
Is there a solution to somehow "send" the correct order of dots (4x4 in my case) via adb or similar?
Thank you an thousand times for your h

[2022-01-18 09:08] #21 closed, assigned to nobody

[2022-04-22 15:04] user3287 opened #70 "[Question] Android 12 / LineageOS 19.1 working?"
I assume it's still working, because why would it break, just making sure

[2022-04-22 17:24] xSAVIKx commented on #70
Well, I am almost positive that it will work. Afaik the used API is still in place which means that it should work